**Creation of String**

In [2]:
string1 = "Welcome to the Python Class"
print("\nString with the use of Double Quotes: ")
print(string1)

String with the use of Double Quotes:
Welcome to the Python Class

In [9]:
string2 = "I am Learning Python with enthusiasm"
print('\nString with the use of Single Quote: ')
print(string2)

String with the use of Single Quote:
I am Learning Python with enthusiasm

In [8]:
string3 = '''I am 
Learning Python 
for Data Science'''
print("\nCreating a multiline String: ")
print(string3)

Creating a multiline String:
I am
Learning Python
for Data Science

**Updating String**

In [10]:
string = "I like to Read"
updatedstring = string.replace("Read","Write")
print(updatedstring)

I like to Write

In [11]:
string = "I like to Cats"
updatedstring = string.replace("Cats","Dogs")
print(updatedstring)

I like to Dogs

**Access Character of String**

In [12]:
String = "I am Learning Python Programming for DS"
print("\nInitial String: ")
print(String)

print('\nFirst Character of the String is: ')
print(String[0])

print('\nLast Character of the String is: ')
print(String[-1])

Initial String:
I am Learning Python Programming for DS

First Character of the String is:
I

Last Character of the String is:
S

**String Slicing**

In [13]:
text = "Python"
print(text[0])

P

In [14]:
text = "Python"
print(text[3])

h

In [18]:
text = "Python"
print(text[0:5:2])

Pto

In [19]:
text = "PythonProgramming"
print(text[1:10:2])

yhnrg

In [21]:
string = "I am Learning Python for Data Science"
print("\nInital String: ")
print(string)

print("\nSlicing Character from 3 - 12: ")
print(string[3:12])

print("\nSlicing characters between 3rd and 2nd last character: ")
print(string[3:-2])

Inital String:
I am Learning Python for Data Science

Slicing Character from 3 - 12:
m Learnin

Slicing characters between 3rd and 2nd last character:
m Learning Python for Data Scien

In [23]:
string = "I am Learning Python for Data Science"
print("\nInital String: ")
print(string)

print("\nSlicing characters between 3rd and 2nd last character step 2: ")
print(string[3:-2:3])

print("\nSlicing characters between 5th and 4th last character step 2: ")
print(string[5:-4:2])

Inital String:
I am Learning Python for Data Science

Slicing characters between 3rd and 2nd last character:
mengyof tSe

Slicing characters between 3rd and 2nd last character:
Lann yhnfrDt c

In [27]:
string = "I am Learning Python for Data Science"
print("\nOriginal String: " + string)

print(string[::-1])

print(string[::-5])

string = "".join(reversed(string))
print(string)

Original String: I am Learning Python for Data Science
ecneicS ataD rof nohtyP gninraeL ma I
ecaftne
ecneicS ataD rof nohtyP gninraeL ma I

**Immutable in String**

In [20]:
str = "I am on way to become an Analyst"
str="I am an Analyst"
print(str)

I am an Analyst

**Length Function**

In [25]:
string = "Learning Pyton is a great experience"
print(len(string))

36

In [26]:
string = "Usman Rashid teaches the Python Basics Well"
print(len(string))

43

**Reverse String**

In [28]:
string = "Python Programming is quite interesting"

string = "".join(reversed(string))
print(string)

gnitseretni etiuq si gnimmargorP nohtyP

**Updating Character**

In [29]:
String1 = "Hello, I'm a Python Learner"
print("Initial String: ")
print(String1)

x=[1,2,"3"]

list1 = list(String1)
list1[2] = 'p'
String2 = ''.join(list1)
print("\nUpdating character at 2nd Index: ")
print(String2)

String3 = String1[0:2] + 'p' + String1[3:]
print(String3)

Initial String:
Hello, I'm a Python Learner

Updating character at 2nd Index:
Heplo, I'm a Python Learner
Heplo, I'm a Python Learner

In [32]:
string = "Hey! How are you doing today?"
print("Initial String: ")
print(string)

a = [1, 2, "3"]
list1 = list(string)
list1[3] = 'x'
string1 = ''.join(list1)
print("\nUpdated Character at 3rd index: ")
print(string)

string2 = string[0:2] + 'x' + string[3:]
print(string2)

Initial String:
Hey! How are you doing today?

Updated Character at 3rd index:
Hey! How are you doing today?
Hex! How are you doing today?

In [34]:
string = "Hey! How are you doing today?"
print("Initial String: ")
print(string)

a = [1, 2, "3"]
list1 = list(string)
list1[3] = 'o'
string1 = ''.join(list1)
print("\nUpdated Character at 3rd index: ")
print(string)

string2 = string[0:2] + 'o' + string[3:]
print(string2)

Initial String:
Hey! How are you doing today?

Updated Character at 3rd index:
Hey! How are you doing today?
Heo! How are you doing today?

In [35]:
string = "I am a Python Learner"
print("Initial String: ")
print(string)

string = "I am not a python learner"
print("\nUpdated String: ")
print(string)

Initial String:
I am a Python Learner

Updated String:
I am not a python learner

**Lists**

In [4]:
bicycles = ['track', 'Handle', 'Tyre', 'Air']
print(bicycles[1])

Handle

In [6]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'hero']
print(motorcycles)
motorcycles.append('hi speed')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'hero']
['honda', 'yamaha', 'suzuki', 'hero', 'hi speed']

**Tuple**

In [7]:
tup = (1, "a", "string", 1+2)
print(tup)
print(tup[1])

(1, 'a', 'string', 3)
a

In [8]:
tup = (1, 2, "string", 3+6, 10+25)
print(tup)

(1, 2, 'string', 9, 35)

In [9]:
tup = (55-45, "a", 5+4j)
print(tup)
print(tup[-1])

(10, 'a', (5+4j))
(5+4j)

In [10]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
print(mytuple[2])

('apple', 'banana', 'cherry')
cherry

**Dictionary**

In [11]:
my_dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(my_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [16]:
my_dict = {"Brand" : "Honda", "Model" : "City", "Make" : 2012, "Brand" : "Suzuki", "Model" : "Alto", "Make" : 2023}
print(my_dict)

{'Brand': 'Suzuki', 'Model': 'Alto', 'Make': 2023}

In [21]:
population = [30.45, 2.77, 1.256, 34.12]
Countries = ["Pakistan", "Afghanistan", "Albania"]
ind_afg=Countries.index("Afghanistan")
print(ind_afg)
print(population[1])

1
2.77

In [22]:
population = [30.45, 2.77, 1.256, 34.12]
Countries = ["Pakistan", "Afghanistan", "Albania"]
ind_pak = Countries.index("Afghanistan")
print(ind_pak)
print(population[0])

1
30.45

In [25]:
World = {"Pakistan":30.45,"Afghanistan":2.77,"Albania":34.12}
World["Afghanistan"]

2.77

In [26]:
World = {"Pakistan":30.45,"Afghanistan":2.77,"Albania":34.12}
World["Pakistan"]

30.45

In [27]:
World = {"Pakistan":30.45,"Afghanistan":2.77,"Albania":34.12}
World["Afghanistan"]
World["Iran"] = 22.125
World

{'Pakistan': 30.45, 'Afghanistan': 2.77, 'Albania': 34.12, 'Iran': 22.125}

In [28]:
World = {"Pakistan":30.45,"Afghanistan":2.77,"Albania":34.12}
World["Afghanistan"]
World["Iran"] = 22.125
print(World)
del(World["Iran"])
print(World)

{'Pakistan': 30.45, 'Afghanistan': 2.77, 'Albania': 34.12, 'Iran': 22.125}
{'Pakistan': 30.45, 'Afghanistan': 2.77, 'Albania': 34.12}

In [29]:
Dict = dict({1: 'Python', 2: 'Programming', 3: 'Session'})
print("\nDictionary with the use of dict(): ")
print(Dict)

Dictionary with the use of dict():
{1: 'Python', 2: 'Programming', 3: 'Session'}

In [31]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)
Dict[0] = 'Python'
Dict[1] = 'Session'
Dict[2] = 5
print("\nDictionary after adding 3 elements: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Python', 1: 'Session', 2: 5}

In [32]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)
Dict[0] = 'Honda'
Dict[1] = 'BMW'
Dict[2] = 'Suzuki'
Dict[3] = 10
print("\nDictionary after adding 4 elements: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 4 elements:
{0: 'Honda', 1: 'BMW', 2: 'Suzuki', 3: 10}

**True False**

In [33]:
s = 'spam'
print( s in 'This is a spam email')
print(s in 'Subject: Hello AtomCamp!')

print(s not in 'Subject: Hello AtomCamp!')
print(s not in 'This is a spam email')

True
False
True
False

**Conversion of String**

In [34]:
text = "I AM A PYTHON LEARNER"
print("Original String: ")
print(text)

print("\nConverted String: ")
print(text.lower())

Original String:
I AM A PYTHON LEARNER

Converted String:
i am a python learner

In [35]:
text = "i am a python learner"
print("Original String: ")
print(text)

print("\nConverted String: ")
print(text.upper())

Original String:
i am a python learner

Converted String:
I AM A PYTHON LEARNER

**Startwith and Endswith**

In [36]:
text = "This is a Python Programming"
print(text.startswith("T"))
print(text.startswith("This"))

True
True

In [38]:
text = "This is a Python Programming"
print(text.endswith("g"))
print(text.endswith("ming"))

True
True

**Char Count**

In [41]:
text = "This is Python and i am Learning it enthusiastically"
char_count = text.count("i")
print(char_count)

7

**Digit & Alpha**

In [42]:
my_string = "Learning Python is a not that difficult"
print(my_string.isdigit())
print("1000".isdigit())

False
True

In [43]:
my_string = "Learning Python is a not that difficult"
print(my_string.isalpha())
print("1000".isalpha())

False
False

In [44]:
my_string = "LearningPythonisanotthatdifficult"
print(my_string.isalpha())
print("1000".isalpha())

True
False

**SwapeCase**

In [45]:
text = "Hello My Name is Arooj"
x = text.swapcase()
print(x)

hELLO mY nAME IS aROOJ

In [46]:
text = "The Art of Writing is The Art Of Discovering"
x = text.swapcase()
print(x)

tHE aRT OF wRITING IS tHE aRT oF dISCOVERING

**List, Updating Lists, Inserting in Lists**

In [48]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'hero']
print(motorcycles)
motorcycles.extend(['hi speed', 'Super Sonic', 'Metro'])
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'hero']
['honda', 'yamaha', 'suzuki', 'hero', 'hi speed', 'Super Sonic', 'Metro']

In [49]:
T = [[11, 12, 13, 14], [2, 3, 4, 5], [2, 3, 4, 6]]
print(T[2])
print(T[0][1])

[2, 3, 4, 6]
12

In [50]:
T = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
print(T[1])

[5, 6, 7, 8]

In [51]:
T = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
print(T[1][3])

8

In [52]:
T.insert(0, [55, 66, 77, 88])
print(T)

[[55, 66, 77, 88], [1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [53]:
T[2] = [11, 22, 33, 44]
print(T)

[[55, 66, 77, 88], [1, 2, 3, 4], [11, 22, 33, 44], [9, 10, 11, 12]]

In [54]:
T[0][0] = 00
print(T)

[[0, 66, 77, 88], [1, 2, 3, 4], [11, 22, 33, 44], [9, 10, 11, 12]]

In [55]:
Grades = {"Maham" : [50, 40, 30], "Talha" : 90}
print(Grades)

{'Maham': [50, 40, 30], 'Talha': 90}

In [56]:
Grades["Maham"] = 91
print(Grades)

{'Maham': 91, 'Talha': 90}

In [57]:
Grades["Talha"] = Grades["Talha"] + 4
print(Grades)

{'Maham': 91, 'Talha': 94}